/*
==========================================
Primary Page Structure
==========================================
*/

html, body {
	font-family: sans-serif;
	// color: $font;
	height: 100%;
}


/* =================================
Large backgrounds */

section {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

@mixin hero($pic) {
	background: linear-gradient($detail3, $detail3), url($pic) center no-repeat;
	// background: linear-gradient($detail4, $detail4), url($pic) center no-repeat;
	// background: url($pic) center no-repeat;
	background-size: cover;
}

.container1 {
	// background: url("https://unsplash.imgix.net/photo-1414924347000-9823c338079b?q=75&fm=jpg&s=0fa6db3cdc65e50c111575043fad4b5c");
	// background: url("../images/big/working.jpg") center no-repeat;
	// background-size: cover;
	@include hero("../images/big/working.jpg");
}

.container2 {
	// background: url("https://ununsplash.imgix.net/photo-1414849424631-8b18529a81ca?q=75&fm=jpg&s=0e993004a2f3704e8f2ad5469315ccb7");
	// background-size: cover;
	@include hero("../images/big/benches.jpg");
}

.container3 {
	@include hero("../images/big/typewriter.jpg");
}

.container4 {
	@include hero("../images/big/bridge.jpg");
}

.container5 {
	@include hero("../images/big/coffee.jpg");
}


/* =================================
Colored Block */

.colorSlash {
	width: 100%;
	height: 200%;
	background: $block1;
	position: absolute;
	right: -60%;
	top: -25%;
	z-index: 100;
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}

.colorSlash2 {
	width: 100%;
	height: 200%;
	background: $block2;
	position: absolute;
	right: 60%;
	top: -25%;
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
}


/* =================================
Content Wrapper */

.content {
	width: 94%;
	height: 90%;
	margin: 0 auto;
	// background: rgba(255, 255, 255, 0.2);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 200;
}

.content p {
	// width: 22%;
	// position: relative;
	// right: 0;
	// top: 30%;
	// left: 7%;
	// margin: 0 0 0 75%;
	// text-align: right;
	// line-height: 1.5;
	// -webkit-transform: rotate(-20deg);
	// transform: rotate(-20deg);
}

.content2 p {
	// position: relative;
	// top: 37%;
	// left: 10%;
	// width: 35%;
	margin: 0 75% 0 0;
	text-align: left;
	line-height: 1.5;
	// -webkit-transform: rotate(20deg);
	// transform: rotate(20deg);
}


/* =================================
Media Queries */

@media (max-width: 650px) {
	
	.colorSlash {
		width: 200%;
		right: -25%;
		top: 60%;
	}

	.colorSlash2 {
		width: 200%;
		left: -25%;
		top: 60%;
	}

	.content p {
		font-size: 16px;
		margin: 110% 0 0 0;
		text-align: left;
	}

}