/*
==========================================
Main Nav
==========================================
*/

nav {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: $detail1;
	// padding: 55px 10px;
	cursor: pointer;
	position: absolute;
	top: 10%;
	right: 7%;
	z-index: 500;
}

.menuItem {
	width: 60%;
	height: 60%;
	background: $detail2;
	border-radius: 50%;
	// padding-top: 42%;
	position: absolute;
	top: 20%;
	left: 20%;

	.menuLabel {
		width: 50%;
		margin: 0 auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.2s;

		h6 {
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		transition: all 0.2s 0.05s;
		} /*.menuLabel h6*/

		svg {
			fill: $font;
		} /*.menuLabel svg*/

	} /*.menuLabel*/

	&:nth-child(1) .menuLabel h6 {
		// left: 15%;
	}

	&:nth-child(2) .menuLabel h6,
	&:nth-child(3) .menuLabel h6 {
		bottom: -7%;
		// left: -15%;
	}
} /*.menuItem*/

.navCover {
	width: 100%;
	height: 100%;
	background: $detail1;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 600;

	.menuCover {

		width: 55%;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		svg {
			fill: $font;
		}/*.menuCover svg*/

		// h5 {
		// 	text-align: center;
		// 	text-transform: uppercase;
		// 	position: absolute;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// } /*.menuCover h5*/

	} /*.menuCover*/
} /*.navCover*/


/* =================================
Defining Animations */

.menuItem1 {
	transition: 1s all 0.18s;
}

.menuItem2 {
	transition: 1s all 0.14s;
}

.menuItem3 {
	transition: 1s all 0.1s;
}

.menuItem4 {
	transition: 1s all 0.05s;
}

@-webkit-keyframes menuBounce1 {
	0% {
		left: 10%;
	}

	35% {
		left: -327%;
	}

	51% {
		left: -290%;
	}

	72% {
		left: -318%;
	}

	93% {
		left: -309%;
	}

	100% {
		left: -310%;
	}

}

@-webkit-keyframes menuBounce2 {
	0% {
		left: 10%;
	}

	35% {
		left: -244%;
	}

	55% {
		left: -211%;
	}

	75% {
		left: -237%;
	}

	95% {
		left: -228%;
	}

	100% {
		left: -230%;
	}

}

@-webkit-keyframes menuBounce3 {
	0% {
		left: 10%;
	}

	35% {
		left: -166%;
	}

	55% {
		left: -132%;
	}

	75% {
		left: -156%;
	}

	95% {
		left: -149%;
	}

	100% {
		left: -150%;
	}

}

@-webkit-keyframes menuBounce4 {
	0% {
		left: 10%;
	}

	35% {
		left: -85%;
	}

	55% {
		left: -53%;
	}

	75% {
		left: -75%;
	}

	95% {
		left: -69%;
	}

	100% {
		left: -70%;
	}

}


/* =================================
Animation and Hover Classes */

@mixin menuMove($position, $speed) {
	left: $position;
	transition: left $speed, transform 0.3s;

	&:hover {
		transform: scale(1.15);

		& .menuLabel {
			transform: translateY(-57%);
		}

		& h6 {
			opacity: 1;
		}
	}
}

.open1 {
	animation: menuBounce1 1.35s ease-out 0 1;
	// left: -310%;
	// transition: 0 left 1.35s, transform 0.5s;

	// &:hover {
	// 	transform: scale(1.33);
	// }
	@include menuMove(-310%, 1.35s);
}

.open2 {
	animation: menuBounce2 1s ease-out 0.15s 1;
	// left: -230%;
	// transition: 0 all 1.15s;
	@include menuMove(-230%, 1.15s);
}

.open3 {
	animation: menuBounce3 1s ease-out 0.08s 1;
	// left: -150%;
	// transition: 0 all 1.08s;
	@include menuMove(-150%, 1.08s);
}

.open4 {
	animation: menuBounce4 1s ease-out 0.18s 1;
	// left: -70%;
	// transition: 0 all 1.18s;
	@include menuMove(-70%, 1.18s);
}


/* =================================
Media Queries */

@media (max-width: 600px) {

	nav {
		width: 110px;
		height: 110px;
		top: 5%;
		left: 5%;

		.menuItem {
			width: 90%;
			height: 90%;
			top: 5%;
			left: 5%;

			.menuLabel {
				width: 40%;
				top: 45%;

				h6 {
					opacity: 1;
				}
			}

		} /* nav.nemuItem */

		// .open1,
		// .open2,
		// .open3,
		// .open4 {
		// 	// animation: none;

		// 	&:hover {
		// 		transform: none;
		// 	}
		// }

	} /* nav */


	@-webkit-keyframes menuDrop1 {
		0% {
			top: 5%;
		}

		35% {
			top: 120%;
		}

		55% {
			top: 88%;
		}

		75% {
			top: 115%;
		}

		95% {
			top: 104%;
		}

		100% {
			top: 105%;
		}

	}

	@-webkit-keyframes menuDrop2 {
		0% {
			top: 5%;
		}

		35% {
			top: 216%;
		}

		55% {
			top: 182%;
		}

		75% {
			top: 206%;
		}

		95% {
			top: 199%;
		}

		100% {
			top: 200%;
		}

	}

	@-webkit-keyframes menuDrop3 {
		0% {
			top: 5%;
		}

		35% {
			top: 308%;
		}

		55% {
			top: 275%;
		}

		75% {
			top: 301%;
		}

		95% {
			top: 292%;
		}

		100% {
			top: 294%;
		}

	}

	@-webkit-keyframes menuDrop4 {
		0% {
			top: 5%;
		}

		35% {
			top: 397%;
		}

		51% {
			top: 370%;
		}

		72% {
			top: 398%;
		}

		93% {
			top: 389%;
		}

		100% {
			top: 390%;
		}

	}

	@mixin menuDown($position2, $speed2) {
		top: $position2;
		transition: top $speed2, transform 0.3s;
	}

	nav .drop1 {
		animation: menuDrop1 1s ease-out 0.18s 1;
		@include menuDown(105%, 1.18s);
	}

	nav .drop2 {
		animation: menuDrop2 1s ease-out 0.08s 1;
		@include menuDown(200%, 1.08s);
	}

	nav .drop3 {
		animation: menuDrop3 1s ease-out 0.15s 1;
		@include menuDown(294%, 1.15s);
	}

	nav .drop4 {
		animation: menuDrop4 1.35s ease-out 0 1;
		@include menuDown(390%, 1.35s);
	}


} /* @media (max-width: 600px) */


@media (max-width: 480px) {

	nav {
		width: 80px;
		height: 80px;
		top: 3%;
		left: 5%;

		.menuItem {
			width: 95%;
			height: 95%;
			top: 2.5%;
			left: 2.5%;

			.menuLabel {
				top: 50%;
				width: 50%;

				svg {
					fill: #333;
				}

				h6 {
					bottom: 35%;
					padding: 5% 0;
					background: rgba(39, 174, 96, 0.6)
				}
			}
		
			&:nth-child(2) .menuLabel h6,
			&:nth-child(3) .menuLabel h6 {
				bottom: 23%;
			}

		} /* .menuItem */

	} /* nav */	


	@-webkit-keyframes menuMiniDrop1 {
		0% {
			top: 2.5%;
		}

		35% {
			top: 125%;
		}

		55% {
			top: 93%;
		}

		75% {
			top: 120%;
		}

		95% {
			top: 109%;
		}

		100% {
			top: 110%;
		}

	}

	@-webkit-keyframes menuMiniDrop2 {
		0% {
			top: 2.5%;
		}

		35% {
			top: 231%;
		}

		55% {
			top: 197%;
		}

		75% {
			top: 221%;
		}

		95% {
			top: 214%;
		}

		100% {
			top: 215%;
		}

	}

	@-webkit-keyframes menuMiniDrop3 {
		0% {
			top: 2.5%;
		}

		35% {
			top: 332%;
		}

		55% {
			top: 299%;
		}

		75% {
			top: 325%;
		}

		95% {
			top: 316%;
		}

		100% {
			top: 318%;
		}

	}

	@-webkit-keyframes menuMiniDrop4 {
		0% {
			top: 2.5%;
		}

		35% {
			top: 430%;
		}

		51% {
			top: 403%;
		}

		72% {
			top: 431%;
		}

		93% {
			top: 422%;
		}

		100% {
			top: 423%;
		}

	}

	@mixin menuDown($position2, $speed2) {
		top: $position2;
		transition: top $speed2, transform 0.3s;
	}

	nav .drop1 {
		animation: menuMiniDrop1 1s ease-out 0.18s 1;
		@include menuDown(110%, 1.18s);
	}

	nav .drop2 {
		animation: menuMiniDrop2 1s ease-out 0.08s 1;
		@include menuDown(215%, 1.08s);
	}

	nav .drop3 {
		animation: menuMiniDrop3 1s ease-out 0.15s 1;
		@include menuDown(318%, 1.15s);
	}

	nav .drop4 {
		animation: menuMiniDrop4 1.35s ease-out 0 1;
		@include menuDown(423%, 1.35s);
	}

}
