/*
==========================================
Typography
==========================================
*/

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 400;
}

h6 {
	font-family:'Crimson Text', serif;
	font-weight: 600;
	font-size: 13.5px;
}

a {
	text-decoration: none;
}