/*
==========================================
Typography and Variable
==========================================
*/


// $block1: #C0392B;
$block1: rgba(192, 57, 43, 1);
$block2: #8e44ad;
$detail1: rgba(243, 156, 18, 1);
$detail2: #27ae60;
$font: #222;


h3, h5, h6, p, a {
	color: $font;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 400;
}

h5 {
	font-family:'Crimson Text', serif;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: -0.4px;
}

h6 {
	font-family:'Crimson Text', serif;
	font-weight: 600;
	font-size: 12px;
}

a {
	text-decoration: none;
}