@import "_compere";

@import "_typography";

@import "_endoskeleton";

@import "_nav";


.container1 {

	.brunicoLogo {
		// width: 25%;
		// margin: 0 0 20px 75%;
		// transform: translateY(-60%);
		// float: left;
		// margin: 30px auto 20px auto;

		width: 45%;
		position: absolute;
		bottom: 5%;
		left: 0;
		
		img {
			width: 100%;
		}
	} /*.brunicoLogo*/

	h3 {
		// margin: 0 0 0 65%;
		// padding-top: 20%;
		text-align: right;
		line-height: 1.5;
		position: absolute;
		right: 0;
		bottom: 5%;
		width: 38%;
		// position: relative;
		// right: 0;
		// top: 50%;
		// transform: translate(-50%);
	}

} /* .container1 */


/* =================================
Media Queries */

@media (max-width: 600px) {
	
	.container1 {

		.brunicoLogo {
			width: 60%;
			// margin: 25px 0 0 10px;
			left: inherit;
			bottom: inherit;
			top: 6.5%;
			right: 5%;
		}

		h3 {
			width: 100%;
			text-align: left;
			bottom: 0;
		}

	} /* .container1 */
} /* @media (max-width: 650px) */

// NEXUS 5 BELOW WHAT?!?
@media (max-width: 360px) {

	.container1 .brunicoLogo {
		// top: 50%;
	}

}